html{
    padding: 0;
    margin: 0;
}

*{
    background-color: black;
    color: white;
}

.bandeira{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(143, 113, 224);
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom-right-radius: 10px;
}
.main{
    margin-top: 0vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    flex-direction: column;
    text-align: center;
}